body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: #493f36;
  font-size: 18px;
}

h1 {
  font-family: "Dancing Script";;
  text-align: center;
  color: #f1703e;
  font-size: 4.3em;
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
  h1 {
    font-size: 3.3em;
  }
}


.email a:link {
  color: #f0703c;
  text-decoration: underline;
}

.email a:hover {
  color: #cc3f0c;
  ;
  text-decoration: underline;
}

.linkedin a:link {
  color: #0966c2;
  text-decoration: underline;
}

.linkedin a:hover {
  color: #094a87;
  text-decoration: underline;
}

